/* ==================== */
/* === Generic (base) == */
/* ==================== */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: sans-serif;
    background-color: #fff;
    color: #000;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: rgb(27, 27, 27);
    color: #fff;
}

#particles {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background: rgb(27, 27, 27);
}



/* ==================== */
/* === Mobile/Tablet === */
/* ==================== */

@media (max-width: 1024px) {

    /* Navbar */

    .top-navbar-buttons-mobile {
        display: none;
    }

    .top-navbar-mobile {
        padding: 28px 48px;
        background-color: transparent;
        position: fixed;
        top: 0;
        z-index: 10;
        transition: background-color 0.3s ease, backdrop-filter 0.3s ease;
        width: 100%;

        font-family: "Kode Mono", monospace;
        font-optical-sizing: auto;
        font-weight: 600;
        font-style: normal;
        font-size: 17px;
    }

    .top-navbar-mobile.scrolled {
        backdrop-filter: blur(10px);
        box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
    }

    .top-navbar-container-mobile {
        max-width: 1440px;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
        min-width: 5px;
    }

    .top-navbar-logo-mobile {
        font-size: 28px;
        text-decoration: none;
        color: white;
        font-family: "Kode Mono", monospace;
        font-weight: 400;
        font-style: normal;
        gap: 5px;
    }

    .right-navbar-burger-icon-mobile {
        width: 38px;
        height: 38px;
        fill: white;
        transition: 0.3s ease;
    }

    .right-navbar-burger-icon-mobile:hover {
        fill: #ff0000;
    }

    .right-navbar-burger-btn-mobile {
        background-color: transparent;
        border: none;
        cursor: pointer;
    }

    .right-navbar-buttons-mobile {
        position: fixed;
        top: 0px;
        right: 0;
        height: 100vh;
        width: 300px;
        transform: translateX(300px);
        transition: transform 0.3s ease;
        padding-top: 5px;
        z-index: 1000;
        backdrop-filter: blur(10px);
        box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
        overflow-y: auto;

        font-family: "Kode Mono", monospace;
        font-optical-sizing: auto;
        font-weight: 600;
        font-style: normal;
        font-size: 17px;
    }

    .right-navbar-header-container-mobile {
        display: flex;
        justify-content: space-between;
        padding-top: 15px;
        padding-bottom: 25px;
    }

    .right-navbar-change-lang-button-mobile {
        background-color: transparent;
        border: none;
        cursor: pointer;
        color: #ff0000;
        padding-bottom: 10px;
        
        font-size: 22px;
        font-style: normal;
        font-family: "Kode Mono", monospace;
        font-weight: bold;
    }

    .right-navbar-close-button-mobile {
        background-color: transparent;
        border: none;
        cursor: pointer;
        
    }

    .right-navbar-close-button-icon-mobile {
        width: 38px;
        height: 38px;
        fill: #ff0000;
        transition: 0.3s ease;
    }

    .right-navbar-close-button-icon-mobile:hover {
        fill: white;
    }

    .right-navbar-description-mobile {
        padding-top: 5px;
        color: #A9A9A9;
    }


    .right-navbar-separation-line-mobile{
        margin-top: 30px;
        margin-bottom: 30px;
        color: #ff0000;
    }

    .right-navbar-buttons-mobile ul {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 25px;
        list-style: none;
        
    }

    .right-navbar-buttons-mobile li {       
        text-align: center;       
        margin: auto auto;
        background-color: transparent;
        font-weight: bold;
        border: 1px solid #A9A9A9;

        width: 110px;
        padding: 11px;
        
    }

    .right-navbar-buttons-mobile a {
        color: #A9A9A9;
        text-decoration: none;
        font-size: 18px;
    }

    .right-navbar-buttons-mobile a:hover {
        color: white;
        
    }

    .right-navbar-socials-intro-mobile {
        color: #A9A9A9;
        text-align: center;
        margin-bottom: 20px;
    }

    .right-navbar-socials-mobile {
        display: flex;
        gap: 35px;
        justify-content: center;
    }

    .right-navbar-socials-mobile svg {
        display: block;
        margin: auto;
        transition: transform 0.3s ease;
        width: 34px;
        height: 34px;
        color: #A9A9A9;
        stroke: transparent;
    }

    .right-navbar-socials-mobile svg:hover {
        transform: scale(1.2);
        color: white;
    }

    .right-navbar-buttons-mobile.show {
        transform: translateX(0);
    }

    .right-navbar-container-mobile {
        padding: 5%;
        height: 100vh;
    }

    .overlay {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5);
        z-index: 49;
        opacity: 0;
        pointer-events: none;
        transition: opacity 0.3s ease;
    }

    .overlay.show {
        opacity: 1;
        pointer-events: all;
    }

    .no-scroll {
        overflow: hidden;
    }

    /* Navbar End */

    /* Hero Section */







    /* Hero Section End */

}

/* ==================== */
/* === Desktop (≥ 1025px) === */
/* ==================== */

@media (min-width: 1025px) {

    /* Navbar */

    .right-navbar-burger-btn {
        display: none;
    }

    .right-navbar-buttons {
        display: none;
    }

    .top-navbar {
        padding: 28px 48px;
        background-color: transparent;
        position: fixed;
        top: 0;
        z-index: 1000;
        transition: background-color 0.3s ease, backdrop-filter 0.3s ease;
        width: 100%;

        font-family: "Kode Mono", monospace;
        font-optical-sizing: auto;
        font-weight: 600;
        font-style: normal;
        font-size: 17px;
    }

    .top-navbar.scrolled {
        backdrop-filter: blur(10px);
        box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
    }

    .top-navbar-container {
        max-width: 1440px;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
        min-width: 5px;
    }

    .top-navbar-logo {
        font-size: 28px;
        text-decoration: none;
        color: white;
        font-family: "Kode Mono", monospace;
        font-weight: 400;
        font-style: normal;
        gap: 5px;
    }

    .top-navbar-buttons {
        list-style: none;
        display: flex;
        gap: 15px;
    }

    .top-navbar-buttons a {
        color: white;
        text-decoration: none;
        font-weight: 500;
        transition: color 0.3s ease;
        padding: 15px 20px;
    }

    .top-navbar-buttons a:hover {
        color: #ff0000;
    }

    .top-navbar-buttons-hire-me-btn {
        background-color: #ff0000;
        padding: 15px 24px;
        border-radius: 1px;
        font-weight: bold;
        border: 2px solid #ff0000;
    }

    .top-navbar-buttons-hire-me-btn:hover {
        background-color: transparent;
        transition: 0.3s ease;
    }

    .no-scroll {
        overflow: hidden;
    }

    /* Navbar End */
}