/* ==================== */
/* === Generic (base) == */
/* ==================== */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: sans-serif;
    background-color: #fff;
    color: #000;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: rgb(27, 27, 27);
    color: #fff;
}

#particles {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background: rgb(27, 27, 27);
}

@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(30px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.fade-in-up {
    opacity: 0;
    transform: translateY(30px);
    transition: opacity 0.6s ease-out, transform 0.6s ease-out;
}

.fade-in-up.visible {
    animation: fadeInUp 0.6s ease-out forwards;
}


@keyframes fadeInRight {
    from {
        opacity: 0;
        transform: translateX(-30px);
    }

    to {
        opacity: 1;
        transform: translateX(0);
    }
}

.fade-in-right {
    opacity: 0;
    transform: translateX(-30px);
    transition: opacity 0.6s ease-out, transform 0.6s ease-out;
}

.fade-in-right.visible {
    animation: fadeInRight 0.6s ease-out forwards;
}




/* ==================== */
/* === Mobile/Tablet === */
/* ==================== */

@media (max-width: 1024px) {

    /* Navbar */

    .top-navbar-buttons-mobile {
        display: none;
    }

    .top-navbar-mobile {
        padding: 22px 30px;
        background-color: transparent;
        position: fixed;
        top: 0;
        z-index: 10;
        transition: background-color 0.3s ease, backdrop-filter 0.3s ease;
        width: 100%;

        font-family: "Kode Mono", monospace;
        font-optical-sizing: auto;
        font-weight: 600;
        font-style: normal;
        font-size: 17px;
    }

    .top-navbar-mobile.scrolled {
        backdrop-filter: blur(10px);
        box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
    }

    .top-navbar-container-mobile {
        max-width: 1440px;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
        min-width: 5px;
    }

    .top-navbar-logo-mobile {
        font-size: 24px;
        text-decoration: none;
        color: white;
        font-family: "Kode Mono", monospace;
        font-weight: 400;
        font-style: normal;
        gap: 5px;
    }

    .right-navbar-burger-icon-mobile {
        width: 34px;
        height: 30px;
        fill: white;
        transition: 0.3s ease;
    }

    .right-navbar-burger-icon-mobile:hover {
        fill: #ff0000;
    }

    .right-navbar-burger-btn-mobile {
        background-color: transparent;
        border: none;
        cursor: pointer;
    }

    .right-navbar-buttons-mobile {
        position: fixed;
        top: 0px;
        right: 0;
        height: 100vh;
        width: 100%;
        transform: translateX(100%);
        transition: transform 0.3s ease;
        padding-top: 5px;
        z-index: 1000;
        backdrop-filter: blur(10px);
        box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
        overflow-y: auto;

        font-family: "Kode Mono", monospace;
        font-optical-sizing: auto;
        font-weight: 600;
        font-style: normal;
        font-size: 17px;
    }

    .right-navbar-header-container-mobile {
        display: flex;
        justify-content: space-between;
        padding-top: 5px;
        padding-bottom: 25px;
    }

    .right-navbar-change-lang-button-mobile {
        background-color: transparent;
        cursor: pointer;
        width: 30px;
        height: 30px;
        margin-top: -2px;
        border: 1px dashed #ff0000;
        transition: 0.3s ease;

        color: #ff0000;
        font-size: 16px;
        font-style: normal;
        font-family: "Kode Mono", monospace;
        font-weight: bold;

    }

    .right-navbar-change-lang-button-mobile:hover {
        color: white;
        border-color: white;
    }


    .right-navbar-close-button-mobile {
        background-color: transparent;
        border: none;
        cursor: pointer;

    }

    .right-navbar-close-button-icon-mobile {
        width: 38px;
        height: 38px;
        fill: #ff0000;
        transition: 0.3s ease;
    }

    .right-navbar-close-button-icon-mobile:hover {
        fill: white;
    }

    .right-navbar-description-mobile {
        padding-top: 5px;
        color: #A9A9A9;
        text-align: center;
    }


    .right-navbar-separation-line-mobile {
        margin-top: 30px;
        margin-bottom: 30px;
        border: none;
        border-top: 2px dashed #ff0000;
    }


    .right-navbar-section-buttons-mobile {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        place-items: center;
        gap: 10px;

    }

    .right-navbar-section-buttons-mobile button {
        cursor: pointer;
        border-radius: 0;
        border-style: groove;
        border-width: 0px;
        border-color: #A9A9A9;
        background-color: transparent;
        color: #A9A9A9;
        padding: 8px 0px;
        width: 6rem;
        transition: 0.3s ease;

        font-size: 16px;
        font-style: normal;
        font-family: "Kode Mono", monospace;
        font-weight: bold;
    }

    .right-navbar-section-buttons-mobile button:hover {
        color: white;
        border-color: white;
    }


    .right-navbar-socials-intro-mobile {
        color: #A9A9A9;
        text-align: center;
        margin-bottom: 20px;
    }

    .right-navbar-socials-mobile {
        display: flex;
        gap: 35px;
        justify-content: center;
    }

    .right-navbar-socials-mobile svg {
        display: block;
        margin: auto;
        transition: transform 0.3s ease;
        width: 34px;
        height: 34px;
        color: #A9A9A9;
        stroke: transparent;
    }

    .right-navbar-socials-mobile svg:hover {
        transform: scale(1.2);
        color: white;
    }

    .right-navbar-buttons-mobile.show {
        transform: translateX(0);
    }

    .right-navbar-container-mobile {
        padding: 5%;
        height: 100vh;
    }

    .overlay {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5);
        z-index: 49;
        opacity: 0;
        pointer-events: none;
        transition: opacity 0.3s ease;
    }

    .overlay.show {
        opacity: 1;
        pointer-events: all;
    }

    .no-scroll {
        overflow: hidden;
    }

    /* Navbar End */


    /* Hero Section */

    .hero-section-text-title2-mobile {
        display: none;
    }

    .hero-section-mobile {
        background-color: transparent;
        color: white;
        font-family: "Kode Mono", monospace;
    }

    .hero-section-content-mobile {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 0px 35px;
    }


    .hero-section-photo-mobile {
        padding-top: 70px;
    }

    .hero-section-photo-mobile img {
        max-width: 100%;
        max-height: 500px;
        height: auto;
    }

    .hero-section-text-mobile {
        text-align: center;
        padding-top: 30px;
    }

    .hero-section-text-intro-mobile {
        text-transform: uppercase;
        letter-spacing: 2px;
        font-size: 14px;
        color: #ffffff;
    }

    .hero-section-text-name-mobile {
        font-size: 34px;
        margin: 9px 0;
    }

    .hero-section-text-name-mobile .highlight {
        color: #ff0000;
    }

    .hero-section-text-title1-mobile {
        font-weight: normal;
        color: white;
        font-size: 20px;
        overflow: hidden;
    }

    .hero-section-text-title1-mobile::after {
        content: "|";
        animation: blink 0.5s infinite;
        color: #ff0000;
    }

    @keyframes blink {

        0%,
        100% {
            opacity: 1;
        }

        50% {
            opacity: 0;
        }
    }

    .hero-section-text-description-mobile {
        margin-top: 30px;
        line-height: 2;
        color: #A9A9A9;
    }

    .hero-section-text-description-mobile .highlight {
        color: #ff0000;
        text-decoration: none;
    }

    .hero-section-text-buttons-mobile {
        display: flex;
        flex-direction: column;
        gap: 14px;
        margin-top: 60px;
    }

    .hero-section-text-buttons-mobile a {
        padding: 12px 24px;
        text-decoration: none;
        border: 2px solid #ff0000;
        transition: 0.3s ease;
    }

    .hero-section-text-buttons-mobile .download {
        background-color: #ff0000;
        color: white;
    }

    .hero-section-text-buttons-mobile .download:hover {
        background-color: transparent;
        color: #ff0000;
    }

    .hero-section-text-buttons-mobile .contact {
        background-color: transparent;
        color: #ff0000;
    }

    .hero-section-text-buttons-mobile .contact:hover {
        color: white;
        background-color: #ff0000;
    }

    .hero-section-text-socials-mobile {
        margin-top: 40px;
        display: flex;
        gap: 35px;
    }

    .hero-section-text-socials-mobile svg {
        display: block;
        margin: auto;
        transition: transform 0.3s ease;
        width: 30px;
        height: 30px;
        color: #A9A9A9;
        stroke: transparent;
    }

    .hero-section-text-socials-mobile svg:hover {
        transform: scale(1.2);
        color: white;
    }

    /* Hero Section End */


    /* About Section */

    .about-section-mobile {
        background-color: transparent;
        color: white;
        font-family: "Kode Mono", monospace;
    }

    .about-section-content-mobile {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 0px 35px;
    }

    .about-section-photo-mobile {
        padding-top: 70px;
    }

    .about-section-photo-mobile img {
        max-width: 100%;
        max-height: 500px;
        height: auto;
    }

    .about-section-text-mobile {
        padding-top: 30px;
    }

    .about-section-text-title-mobile {
        font-size: 26px;
    }

    .about-section-text-title-mobile .highlight {
        color: #ff0000;

    }

    .about-section-text-description-mobile {
        padding-top: 20px;
        line-height: 2;
        color: #A9A9A9;
    }

    .about-section-text-list-mobile li {
        padding-bottom: 10px;
        color: #A9A9A9;
        list-style: none;

    }

    .about-section-text-list-mobile svg {
        width: 11px;
        height: 13px;
        padding-top: 2px;
        transform: rotate(90deg);
    }

    .about-section-text-list-title-mobile {
        padding-top: 15px;
        padding-bottom: 15px;
        font-size: 20px;
        line-height: normal;
    }

    /* About Section End*/

    /* Skills Section*/

    .skills-section-mobile {
        background-color: transparent;
        color: white;
        font-family: "Kode Mono", monospace;

        padding: 60px 35px;
    }

    .skills-section-title-mobile {
        font-size: 26px;

    }

    .skills-section-title-mobile .highlight {
        color: #ff0000;
    }

    .skills-section-content-mobile {
        display: grid;
        gap: 1rem;
        padding: 1rem;
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));

        justify-content: center;
        align-items: center;

        padding-top: 30px;
    }

    .skills-box-frame-mobile {
        border-radius: 7px;
        padding: 1.5rem;

        backdrop-filter: blur(10px);
        box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
        min-height: 400px;

        justify-content: center;
        align-items: center;

        padding-top: 50px;
    }

    .skills-box-icon {
        fill: #ff0000;
        width: 40px;
        height: 40px;
        display: block;
        margin: 0 auto;
    }

    .skills-box-title {
        font-size: 22px;
        text-align: center;

        padding-top: 30px;
        padding-bottom: 30px;
    }

    .skills-box-list li {
        padding-bottom: 10px;
        color: #A9A9A9;
        list-style: none;
        font-size: 15px;

        text-align: center;
    }

    /* Skills Section End*/

    /* Projects Section */
    /* Projects Section End */

    /* Resume Section */

    .resume-section-mobile {
        background-color: transparent;
        color: white;
        font-family: "Kode Mono", monospace;
        padding: 20px 35px;
    }

    .resume-section-container-mobile {
        display: flex;
        flex-direction: column;
    }

    .resume-section-title-mobile {
        font-size: 26px;
    }

    .resume-section-title-mobile .highlight {
        color: #ff0000;
    }

    .resume-section-content-mobile .timeline {
        border-left: 2px solid #ff0000;
        padding-left: 30px;
    }

    .resume-section-content-mobile h2 {
        color: white;
        font-size: 22px;
        margin-bottom: 30px;
        margin-top: 40px;
    }

    .resume-section-content-item-mobile {
        position: relative;
        margin-bottom: 40px;
    }

    .resume-section-content-item-mobile .dot {
        position: absolute;
        left: -9px;
        top: 10px;
        width: 12px;
        height: 12px;
        background: #ff0000;
        border: 1px solid white;
        border-radius: 2px;
        z-index: 2;
    }

    .resume-section-content-item-mobile .card {
        background: transparent;
        padding: 20px;
        border-radius: 3px;
        backdrop-filter: blur(10px);
        box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
    }

    .resume-section-content-item-mobile .card h4 {
        padding-bottom: 10px;
    }

    .resume-section-content-item-mobile .card p {
        color: #A9A9A9;
    }

    .resume-section-content-item-mobile .date {
        color: #ff0000;
        font-weight: bold;
        font-size: 0.9rem;
        margin-bottom: 5px;
    }

    /* Resume Section End */

    /* Credentials Section */
    /* Credentials Section End */

    /* Contact Section */
    .contact-section-mobile {
        background-color: transparent;
        color: white;
        font-family: "Kode Mono", monospace;
        padding: 20px 35px;
    }

    .contact-section-container-mobile {
        display: flex;
        flex-direction: column;
    }

    .contact-section-title-mobile {
        font-size: 26px;
        padding-bottom: 15px;
    }

    .contact-section-title-mobile .highlight {
        color: #ff0000;
    }

    .contact-section-intro-mobile {
        font-size: 16px;
        margin-bottom: 40px;
        color: #A9A9A9;
    }

    .contact-section-form-mobile {
        display: flex;
        flex-direction: column;
        gap: 1.5rem;
    }

    .contact-section-form-mobile .form-group {
        display: flex;
        flex-direction: column;
        text-align: left;
    }

    .contact-section-form-mobile .form-group label {
        margin-bottom: 0.5rem;
    }

    .contact-section-form-mobile .form-group .highlight {
        color: #ff0000;
    }

    .contact-section-form-mobile .form-group input,
    .form-group textarea {
        padding: 0.75rem 1rem;
        border: 1px solid #A9A9A9;
        border-radius: 4px;
        font-size: 16px;
        background-color: transparent;
        backdrop-filter: blur(10px);
        color: white;
        transition: 0.3s ease;
    }

    .contact-section-form-mobile .form-group input:focus,
    .form-group textarea:focus {
        outline: none;
        box-shadow: 0 0 0 1.5px white;
    }

    .contact-section-form-mobile .form-group input::placeholder,
    textarea::placeholder {
        color: #94a3b8;
    }

    .contact-section-form-mobile .submit-button {
        background-color: #ff0000;
        color: white;
        font-family: "Kode Mono", monospace;
        font-size: 16px;
        padding: 1rem 2rem;
        border: 1px solid #ff0000;
        border-radius: 4px;
        cursor: pointer;
        transition: 0.3s ease;
    }

    .contact-section-form-mobile .submit-button:hover {
        background-color: transparent;
        color: #ff0000;
    }

    /* Contact Section End */

    /* Footer */
    .footer-mobile {
        background-color: transparent;
        color: white;
        padding: 20px 0;
        text-align: center;
        font-family: "Kode Mono", monospace;
        font-size: 16px;
        backdrop-filter: blur(10px);
    }

    .footer-content-mobile {
        max-width: 1000px;
        margin: 0 auto;
        padding: 0 20px;
        line-height: 30px;
    }

    .footer-content-mobile .highlight{
        color: #ff0000;
    }
    /* Footer End */

}

/* ==================== */
/* === Desktop (≥ 1025px) === */
/* ==================== */

@media (min-width: 1025px) {

    /* Navbar */

    .right-navbar-burger-btn {
        display: none;
    }

    .right-navbar-buttons {
        display: none;
    }

    .top-navbar {
        padding: 28px 48px;
        background-color: transparent;
        position: fixed;
        top: 0;
        z-index: 1000;
        transition: background-color 0.3s ease, backdrop-filter 0.3s ease;
        width: 100%;

        font-family: "Kode Mono", monospace;
        font-optical-sizing: auto;
        font-weight: 600;
        font-style: normal;
        font-size: 17px;
    }

    .top-navbar.scrolled {
        backdrop-filter: blur(10px);
        box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
    }

    .top-navbar-container {
        max-width: 1440px;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
        min-width: 5px;
    }

    .top-navbar-logo {
        font-size: 28px;
        text-decoration: none;
        color: white;
        font-family: "Kode Mono", monospace;
        font-weight: 400;
        font-style: normal;
        gap: 5px;
    }

    .top-navbar-buttons {
        list-style: none;
        display: flex;
        gap: 12px;
    }

    .top-navbar-buttons a {
        color: white;
        text-decoration: none;
        font-weight: 500;
        transition: color 0.3s ease;
        padding: 15px 20px;

    }

    .top-navbar-buttons a:hover {
        color: #ff0000;
    }

    .top-navbar-buttons-red-btn {
        background-color: #ff0000;
        padding: 15px 24px;
        border-radius: 1px;
        font-weight: bold;
        border: 2px solid #ff0000;
    }

    .top-navbar-buttons-red-btn:hover {
        background-color: transparent;
        transition: 0.3s ease;
    }

    .top-navbar-change-lang-button {
        background-color: transparent;
        cursor: pointer;
        width: 25px;
        height: 25px;
        margin-top: -2px;
        margin-left: 10px;
        border: 1px dashed #ff0000;
        transition: 0.3s ease;

        color: #ff0000;
        font-size: 14px;
        font-style: normal;
        font-family: "Kode Mono", monospace;
        font-weight: bold;
    }

    .top-navbar-change-lang-button:hover {
        color: white;
        border-color: white;
    }

    .no-scroll {
        overflow: hidden;
    }

    /* Navbar End */

    /* Hero Section */

    .hero-section-text-title1 {
        display: none;
    }

    .hero-section {
        padding-top: 7%;
        margin: 0px 48px;
        background-color: transparent;
        color: white;
        font-family: "Kode Mono", monospace;
    }

    .hero-section-content {
        display: grid;
        grid-template-columns: minmax(600px, 1fr) minmax(300px, 1fr);
        gap: 10px;
        max-width: 1440px;
        margin: 0 auto;
    }

    .hero-section-photo {
        order: 2;
    }

    .hero-section-photo img {
        max-width: 100%;
        max-height: 100%;
        min-width: auto;
        min-height: auto;
        display: block;
        margin: auto auto;

    }

    .hero-section-text {
        order: 1;
        padding-top: 5%;
    }

    .hero-section-text-intro {
        text-transform: uppercase;
        letter-spacing: 2px;
        font-size: 14px;
        color: #ffffff;
    }

    .hero-section-text-name {
        font-size: 55px;
        margin: 10px 0;
    }

    .hero-section-text-name .highlight {
        color: #ff0000;
    }

    .hero-section-text-title2 {
        color: #ff0000;
        font-family: "Kode Mono", monospace;
        font-size: 35px;
    }

    .hero-section-text-title2::after {
        content: "|";
        animation: blink 0.5s infinite;
        color: #ff0000;
    }

    @keyframes blink {

        0%,
        100% {
            opacity: 1;
        }

        50% {
            opacity: 0;
        }
    }

    .hero-section-text-title2-title {
        font-weight: normal;
        color: white;
        font-size: 35px;
    }

    .hero-section-text-description {
        margin-top: 60px;
        line-height: 1.6;
        color: #A9A9A9;
    }

    .hero-section-text-buttons {
        margin-top: 60px;
    }

    .hero-section-text-buttons a {
        padding: 12px 24px;
        text-decoration: none;
        border: 2px solid #ff0000;
        margin-right: 15px;
        transition: 0.3s;
    }

    .hero-section-text-buttons .download {
        background-color: #ff0000;
        color: white;
    }

    .hero-section-text-buttons .download:hover {
        background-color: transparent;
        color: #ff0000;
    }

    .hero-section-text-buttons .contact {
        background-color: transparent;
        color: #ff0000;
    }

    .hero-section-text-buttons .contact:hover {
        background-color: #ff0000;
        color: white;
    }

    .hero-section-text-socials {
        margin-top: 60px;
        display: flex;
        gap: 35px;
    }

    .hero-section-text-socials svg {
        display: block;
        margin: auto;
        transition: transform 0.3s ease;
        width: 30px;
        height: 30px;
        color: #A9A9A9;
        stroke: transparent;
    }

    .hero-section-text-socials svg:hover {
        transform: scale(1.2);
        color: white;
    }

    /* Hero Section End */



    /* About Section */

    .about-section {}

    .about-section-photo {}

    .about-section-text {}

    .about-section-text-title {}

    .about-section-text-description {}

    .about-section-text-list {}

    .about-section-text-list-title {}

    /* About Section End */


}